<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <div class="logo">
      <img src="./assets/liraki_isotipo.svg" alt="" />
      <ion-title text-left> LIRAKI </ion-title>
    </div>

    <ion-buttons slot="end">
      <ion-back-button
        defaultHref="home"
        text=""
        icon="arrow-back"
        color="danger"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="list-places">
    <ion-item>
      <ion-select
        interface="action-sheet"
        placeholder="Proyectos"
        value="todos"
        [(ngModel)]="option"
        (ionChange)="onChange()"
      >
        <ion-select-option value="todos" (ionSelect)="onSelectAll()"
          >TODOS</ion-select-option
        >
        <ion-select-option *ngFor="let p of proyectos" [value]="p">
          {{ p.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div class="full-column" style="height: 100%; width: 100%" id="map"></div>
</ion-content>
