<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="home"
        text=""
        icon="arrow-back"
        color="danger"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <div class="logo">
      <img src="./assets/liraki_isotipo.svg" alt="" />
      <ion-title text-left> LIRAKI </ion-title>
    </div>

    <ion-buttons slot="end">
      <ion-back-button
        defaultHref="home"
        text=""
        icon="arrow-back"
        color="danger"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid> -->
  <!-- <ion-row> -->
  <!-- <ion-col sizeMd="4" offsetMd="4"> -->
  <div *ngIf="producto">
    <div class="slides ion-margin-bottom">
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let foto of producto.fotos" class="slide-img">
          <ion-card class="ion-no-border">
            <img [src]="getImage(foto.keyName)" alt="" />
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    <ion-card class="card-details">
      <ion-card-header>
        <ion-card-subtitle
          >{{producto.creadoEn | date:'short'}}</ion-card-subtitle
        >
        <ion-card-title>{{producto.nombre}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- <ion-item class="ion-no-border">
          <ion-label> -->
        <div class="details">
          <span *ngIf="producto.descuento > 0">💸</span>
          <span
            class="item-price antes-price font-head"
            *ngIf="producto.descuento > 0"
            >Bs. {{ producto.precio }}
          </span>

          <span class="item-price font-head">
            Bs. {{ producto.descuento > 0 ? getDescuento() : producto.precio }}
          </span>

          <div class="stock">
            <span class="font-head" [class]="stockColor(producto.stock)"
              >{{ alertStock(producto.stock) }}</span
            >
          </div>
        </div>
        <!-- </ion-label>
        </ion-item> -->

        <ion-chip *ngFor="let cat of producto.categorias">
          <ion-label>{{cat.nombre}}</ion-label>
        </ion-chip>

        <br />

        {{producto.descripcion}}

        <!-- <ion-list>
          <ion-item *ngFor="let foto of producto.fotos">
            <ion-thumbnail slot="start">
              <ion-img [src]="getImage(foto.keyName)"></ion-img>
            </ion-thumbnail>
            <ion-label>Indice: {{foto.indice}} - {{foto.nombre}}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-card-content>
    </ion-card>
  </div>

  <!-- </ion-col> -->
  <!-- </ion-row> -->
  <!-- </ion-grid> -->
</ion-content>
