/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// @import "swiper/scss";
// @import "swiper/scss/navigation";
// @import "swiper/scss/pagination";
@import url("http://fonts.cdnfonts.com/css/cubano");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
:root {
  --primary: #ff6e00;
  --secondary: #425066;
  --warn: red;
  --accent: #ffbd2d;
  --success: #2ac940;
  --error: #ff6058;
  --info: #33b5e5;
  --blue: #498afb;
  --light-primary: #f5f5f5;
  --orange: #fa8142;
  --orange-dark: #f96a1f;
  --orange-light: #fb9865;

  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --text-hover: whitesmoke;

  --red: #ff3860;
  --red-dark: #ff1443;
  --red-light: #ff5c7c;
  --blue: #498afb;
  --blue-dark: #2674fa;
  --blue-light: #6ca0fc;
  --orange: #fa8142;
  --orange-dark: #f96a1f;
  --orange-light: #fb9865;
  --green: #09c372;
  --green-dark: #07a15e;
  --green-light: #0be586;
  --purple: #9166cc;
  --purple-dark: #7d4bc3;
  --purple-light: #a481d5;
  --ff0: #ffdd57;
  --ff0-dark: #ffd633;
  --ff0-light: #ffe47a;

  --pink: #ff4088;
  --pink-dark: #ff1c72;
  --pink-light: #ff649e;

  --nav-width: 4em;
  --font-body: Quicksand, sans-serif;
  --font-head: "cubano", sans-serif;
  --font-mono: mono_consola;
  --font-size: 20px;

  --bg-body: #ffffff;
  --bg-card: var(--gray0);

  --background-opacity: rgba(18, 24, 27, 0.58);

  --text-color: var(--secondary);
  --reverse-text-color: white;

  --border-gradient: var(--secondary);
  --nav-shadow: 4px 0 10px -3px #010101;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
  --toc-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
  --nav-bg: white;
  --btn-bg: white;
  --tag-bg: var(--gray4);
  --code-bg: #22262f;
  --card-bg: white;
  --overlay-bg: rgba(0, 0, 0, 0.9);
  --h-border: 2px dashed var(--nav-bg);
  --nav-border: 2px dashed var(--text-color);
  --card-border: 1px solid var(--nav-bg);
  --card-radius: 0.25em;
  --footer-bg: var(--secondary);
  --sobreCard-bg: whitesmoke;

  // transition: all 0.3s ease;
}
