<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <div class="logo">
      <img src="./assets/liraki_isotipo.svg" alt="" />
      <ion-title text-left> LIRAKI </ion-title>
    </div>

    <ion-buttons slot="end">
      <ion-button (click)="authSvc.logout()">
        <ion-icon
          slot="icon-only"
          name="log-out-outline"
          style="font-size: 30px"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-button (click)="mapaProyectos()">
      <ion-icon slot="icon-only" name="map"></ion-icon>
      &nbsp;Mapa
    </ion-button>

    <ion-button (click)="lector()">
      <ion-icon slot="icon-only" name="scan-outline"></ion-icon>
      &nbsp;Escanear
    </ion-button>
  </div>
</ion-content>
