ion-toolbar {
  --background: var(--bg-head);
  color: var(--secondary);
  font-family: var(--font-head);
}

ion-content {
  --background: var(--bg-body);
  --color: var(--text-color);
}

.logo {
  display: flex;
  padding-left: 5px;
  img {
    height: 50px;
  }

  ion-title {
    padding-left: 5px;
  }
}

ion-title {
  font-size: 40px;
}

#container {
  height: 100%;
  display: grid;
  place-items: center;
}

.btn-scan {
  --background: var(--primary);
  --border-radius: 50px;

  width: 300px;
  height: 300px;
  ion-icon {
    font-size: 400px;
  }
}
